@import '../../index';

.resultTable {
  position: relative;
  font-family: $gameFont;
  font-size: 1em;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.tableSpacing {
  padding: 0.5em;
}
#finalMedal {
  transform: translateY(50%);
}

#finalScore {
  transform: translateY(30%);
}

@media only screen and (max-width: 1000px) {
  .tableSpacing {
    padding: 9% 15%;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 425px) {
  .tableSpacing {
    padding: 5.5%;
    font-size: 1em;
  }
  #scoreName {
    transform: translateY(-31.5%);
  }
  .finalScoreBoard .resultTable #finalScore {
    transform: translateY(0%);
  }
  .finalScoreBoard .resultTable #finalMedal {
    transform: translate(-105%, 66%);
  }
}
