@import '../../index';

.startGame {
  font-family: $spaceFont;
  color: #fff;
}
.rock {
  width: 400px;
}

.startBtnText {
  cursor: default;
  font-family: $gameFont;
  font-size: 1.5em;
  color: black;
  position: absolute;
  top: 146px;
  left: 65px;
  transform: rotate(-32deg);
}

#create {
  z-index: 1;
  position: absolute;
  opacity: 0;
  animation-name: create;
  animation-duration: 1s;
  animation-delay: 1.95s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes create {
  from {
    opacity: 1;
    left: 200vw;
    top: -60vh;
  }
  to {
    opacity: 1;
    top: 15%;
    left: 53%;
  }
}

#join {
  position: absolute;
  opacity: 0;
  animation: join 1s 2s forwards;
}
@-webkit-keyframes join {
  from {
    opacity: 1;
    left: 200vw;
    top: -45vh;
  }
  to {
    opacity: 1;
    top: 38%;
    left: 67%;
  }
}

#startGameTitle {
  font-size: 3em;
  padding-left: 6%;
  position: absolute;
  opacity: 0;
  animation: slide 1s 1.5s forwards;
}

@-webkit-keyframes slide {
  from {
    opacity: 1;
    left: -150vw;
  }
  to {
    opacity: 1;
    left: 0vw;
  }
}

#startGameEarth {
  width: 75%;
  position: absolute;
  top: 50%;
  left: -30%;
  animation: spin 200s linear infinite;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1024px) {
  .startBtnText {
    top: 144px;
    left: 58px;
  }
}
@media only screen and (max-width: 800px) {
  .title {
    font-size: 1em;
    margin-top: -1em;
  }
  .rock {
    width: 350px;
  }
  .startBtnText {
    top: 115px;
    left: 58px;
  }
  #startGameTitle {
    font-size: 2.3em;
    padding-left: 9%;
  }
  #startGameEarth {
    width: 85%;
    top: 63%;
    left: -25%;
  }
}

@media only screen and (max-width: 426px) {
  .title {
    font-size: 1em;
    margin-top: -1em;
  }
  .rock {
    height: 250px;
  }
  .startBtnText {
    top: 118px;
    left: 52px;
  }
  #startGameTitle {
    font-size: 2em;
    padding-left: 0%;
    text-align: center;
  }
  #startGameEarth {
    display: none;
  }
  @-webkit-keyframes create {
    from {
      opacity: 1;
      left: 200vw;
      top: -60vh;
    }
    to {
      opacity: 1;
      top: 27%;
      left: 14%;
    }
  }

  @-webkit-keyframes join {
    from {
      opacity: 1;
      left: 200vw;
      top: -45vh;
    }
    to {
      opacity: 1;
      top: 54%;
      left: 17%;
    }
  }
}
@media only screen and (max-width: 375px) {
  .startBtnText {
    top: 115px;
    left: 55px;
  }
  @-webkit-keyframes create {
    from {
      opacity: 1;
      left: 200vw;
      top: -60vh;
    }
    to {
      opacity: 1;
      top: 28%;
      left: 2%;
    }
  }

  @-webkit-keyframes join {
    from {
      opacity: 1;
      left: 200vw;
      top: -45vh;
    }
    to {
      opacity: 1;
      top: 54%;
      left: 2%;
    }
  }
}
