@import '../../index';

.lobby {
  height: 97vh;
  font-family: $spaceFont;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

.playersList {
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  align-content: space-around;
  width: 98%;
}

.player {
  width: 23%;
  text-align: center;
}
.gameFont {
  font-family: $gameFont;
  font-size: 1.5em;
}

.lobbyText {
  display: inherit;
  font-family: $gameFont;
  font-size: 3.5em;
  text-align: center;
}

#startText {
  padding-top: 18px;
  text-align: center;
}
#lobbyName {
  line-height: 5em;
}

@media only screen and (max-width: 800px) {
  .player {
    width: 32%;
  }
}

@media only screen and (max-width: 600px) {
  .lobbyText {
    line-height: 1em;
  }
  .player {
    width: 48%;
  }
  #lobbyName {
    line-height: 2em;
  }
  #startBtn {
    height: 73px;
  }
}

@media only screen and (max-width: 400px) {
  .lobbyText {
    font-size: 2.5em;
  }
  .playersList {
    overflow: auto;
    padding: 10%;
    height: 100%;
    width: 100%;
  }
  .player {
    width: 98%;
    padding: 2%;
  }
}
